<nav class="sidenav navbar navbar-vertical fixed-left navbar-expand-xs navbar-light bg-white" id="sidenav-main">
    <div class="scrollbar-inner">
        <!-- Brand -->
        <div class="sidenav-header  align-items-center">
            <a class="navbar-brand" href="/">
                <h3>{{current_user.full_name}}</h3>
            </a>
        </div>
        <div class="navbar-inner">
            <!-- Collapse -->
            <div class="collapse navbar-collapse" id="sidenav-collapse-main">
                <!-- Nav items -->
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a id="menu-dashboard" class="nav-link" href="/admin/dashboard">
                            <i class="ni ni-tv-2 text-primary"></i>
                            <span class="nav-link-text">Dashboard</span>
                        </a>
                    </li>
                    <!-- <li class="nav-item">
                        <a id="menu-reports" class="nav-link" href="/admin/reports">
                            <i class="ni ni-chart-bar-32 text-primary"></i>
                            <span class="nav-link-text">Reports</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a id="menu-incidents" class="nav-link" href="/admin/incidents">
                            <i class="ni ni-collection text-primary"></i>
                            <span class="nav-link-text">Case Records</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a id="menu-schedules" class="nav-link" href="/admin/schedules">
                            <i class="ni ni-calendar-grid-58 text-primary"></i>
                            <span class="nav-link-text">Settlement Schedules</span>
                        </a>
                    </li> -->
                    <li class="nav-item">
                        <a id="menu-customers" class="nav-link" href="/admin/customers">
                            <i class="ni ni-folder-17 text-primary"></i>
                            <span class="nav-link-text">Customer Records</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a id="menu-feedbacks" class="nav-link" href="/admin/feedbacks">
                            <i class="ni ni-chat-round text-primary"></i>
                            <span class="nav-link-text">Feedbacks</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a id="menu-accounts" class="nav-link" href="/admin/accounts">
                            <i class="ni ni-circle-08 text-primary"></i>
                            <span class="nav-link-text">Accounts</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a id="menu-notifications" class="nav-link" href="/admin/notifications">
                            <i class="ni ni-bell-55 text-primary"></i>
                            <span class="nav-link-text">Notifications</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a id="menu-settings" class="nav-link" href="/admin/settings">
                            <i class="ni ni-settings-gear-65 text-primary"></i>
                            <span class="nav-link-text">Settings</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>