{% extends 'shared/layout.html' %}
{% block title %}
Customer Records
{% endblock %}

{% block css %}{% endblock %}

{% block modal %}
<div class="modal fade" id="modal-default">
    <div class="modal-dialog">
        <div class="modal-content card bg-secondary shadow">
                <div class="modal-header card-header bg-white border-0">
                    <h4 class="card-title">Customer Records</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body card-body">
                    <div class="row">
                        <input id="id" name="id" type="text" class="form-control form-control-alternative" hidden
                            value="-1">
                        <input id="account_id" name="account_id" type="text" class="form-control form-control-alternative" hidden
                            value="-1">
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="form-control-label">First Name <span id="first_name_error" class="h5 text-danger"></span></label>
                                <input id="first_name" name="first_name" type="text"
                                    class="form-control form-control-alternative">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="form-control-label">Middle Name</label>
                                <input id="middle_name" name="middle_name" type="text"
                                    class="form-control form-control-alternative">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="form-control-label">Last Name <span id="last_name_error" class="h5 text-danger"></span></label>
                                <input id="last_name" name="last_name" type="text"
                                    class="form-control form-control-alternative">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="form-control-label">Email <span id="email_error" class="h5 text-danger"></span></label>
                                <input id="email" name="email" type="text"
                                    class="form-control form-control-alternative">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="form-control-label">Phone <span id="phone_1_error" class="h5 text-danger"></span></label>
                                <input id="phone_1" name="phone_1" type="text" class="form-control form-control-alternative">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="form-control-label">Emergency Contact Number <span id="phone_2_error" class="h5 text-danger"></span></label>
                                <input id="phone_2" name="phone_2" type="text" class="form-control form-control-alternative">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="form-control-label">Password <span style="font-weight: 100">(leave blank to remain unchanged)</span> <span id="password_error" class="h5 text-danger"></span></label>
                                <input id="password" name="password" name="password" type="password"
                                    class="form-control form-control-alternative">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="form-control-label">Birthdate</label>
                                <input id="birth_date" name="birth_date" type="text"
                                    class="form-control form-control-alternative datepicker">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="form-control-label">Gender</label>
                                <select id="gender" name="gender" data-style="bg-white px-4 py-3 shadow-sm"
                                    class="form-control form-control-alternative selectpicker" data-live-search="true">
                                    <option value="Male">Male</option>
                                    <option value="Female">Female</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="form-control-label">Address <span id="address_error" class="h5 text-danger"></span></label>
                                <input id="address" name="address" type="text" class="form-control form-control-alternative">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-sm btn-danger" data-dismiss="modal">Cancel</button>
                    <button class="btn btn-sm btn-success" onclick="Save()">Save</button>
                </div>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="main-content" id="panel">
    <!-- Header -->
    <div class="header bg-primary pb-6">
        <div class="container-fluid">
            <div class="header-body">
                <div class="row align-items-center py-4">
                    <div class="col-lg-6 col-7">
                        <p class="display-2 text-white d-inline-block mb-0">Customer Records</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Page content -->
    <div class="container-fluid mt--6">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header border-0">
                        <div class="row align-items-center">
                            <div class="col">
                                <h3 class="mb-0">Registered Customers</h3>
                            </div>
                            <div class="col text-right">
                                <button class="btn btn-sm btn-primary" onclick="NewCustomer()">New Customer</button>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <!-- Projects table -->
                        <table class="table align-items-center table-flush">
                            <thead class="thead-light">
                                <tr>
                                    <th scope="col">Full Name</th>
                                    <th scope="col">Location</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Phone Number</th>
                                    <th scope="col">Account Status</th>
                                    <th scope="col" class="text-right">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for customer in customers %}
                                    {% if customer.is_registered %}
                                        <tr id='customer-{{customer.id}}' data-id={{customer.id}} data-account-id={{customer.account.id}}>
                                            <th scope="row">
                                                {{customer.account.first_name}} {{customer.account.last_name}}
                                            </th>
                                            <td>
                                                {{customer.account.address}}
                                            </td>
                                            <td>
                                                {{customer.account.email}}
                                            </td>
                                            <td>
                                                {{customer.account.phone_1}}
                                            </td>
                                            <td>
                                                {% if customer.is_registered %}
                                                    Registered
                                                {% else %}
                                                    Pending Verification
                                                {% endif %}
                                            </td>
                                            <td class="text-right">
                                                <a href="/admin/customer/{{customer.id}}" class="btn btn-info btn-sm text-white"><i class="fa fa-eye"></i></a>
                                                <button onclick='Edit(this)' class="btn btn-warning btn-sm"><i class="fa fa-edit"></i></button>
                                                <button onclick='Delete(this)' class="btn btn-danger btn-sm"><i class="fa fa-trash"></i></button>
                                            </td>
                                        </tr>
                                    {% endif %}                                
                                {% endfor %}                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header border-0">
                        <div class="row align-items-center">
                            <div class="col">
                                <h3 class="mb-0">Walk-in/Guest Customers</h3>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <!-- Projects table -->
                        <table class="table align-items-center table-flush">
                            <thead class="thead-light">
                                <tr>
                                    <th scope="col">Full Name</th>
                                    <th scope="col">Last Appointment</th>
                                    <th scope="col">Assigned Staff</th>
                                    <th scope="col" class="text-right">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for customer in customers %}
                                    {% if not customer.is_registered %}
                                        <tr id='customer-{{customer.id}}' data-id={{customer.id}}>
                                            <th scope="row">
                                                {{customer.account.full_name}}
                                            </th>
                                            <td>
                                                {% if customer.appointments|length > 0 %}
                                                {%set appointment = customer.appointments[-1]%}
                                                {{ appointment.service.name }} on {{ appointment.bay.bay }} <br>
                                                {{ appointment.start_time.strftime("%a %b %d, %Y") }}
                                                {{ appointment.start_time.strftime("%I:%M%p") }} - {{ appointment.end_time.strftime("%I:%M%p") }}
                                                {% endif %}                                
                                            </td>
                                            <td>
                                                {% if customer.appointments|length > 0 %}
                                                {% for staff in appointment.staffs %}
                                                    {{ staff.account.full_name }} <br>
                                                {% endfor %}                                      
                                                {% endif %}                                
                                            </td>
                                            <td class="text-right">
                                                <a href="/admin/customer/{{customer.id}}" class="btn btn-info btn-sm text-white"><i class="fa fa-eye"></i></a>
                                                <button onclick='Edit(this)' class="btn btn-warning btn-sm"><i class="fa fa-edit"></i></button>
                                                <button onclick='Delete(this)' class="btn btn-danger btn-sm"><i class="fa fa-trash"></i></button>
                                            </td>
                                        </tr>
                                    {% endif %}                                
                                {% endfor %}                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>

    setSideBar('#menu-customers')

    var modal = '#modal-default'

    var NewCustomer = function() {
        
        $('#first_name_error').html('')
        $('#last_name_error').html('')
        $('#phone_1_error').html('')
        $('#phone_2_error').html('')
        $('#email_error').html('')
        $('#password_error').html('')
        $('#address_error').html('')

        $("input").val('')
        $(".selectpicker").selectpicker('deselectAll');
        $(".selectpicker").selectpicker('val', []);
        $('#id').val('-1')
        $('#account_id').val('-1')

        $(modal).modal({ 
            "backdrop"  : "static",
            "keyboard"  : true,
            "show"      : true
        })

    }

    var Save = function() {
        
        $('#first_name_error').html('')
        $('#last_name_error').html('')
        $('#phone_1_error').html('')
        $('#phone_2_error').html('')
        $('#email_error').html('')
        $('#password_error').html('')
        $('#address_error').html('')

        data = {
            'id'            : $('#id').val(),
            'account_id'    : $('#account_id').val(),
            'role_id'       : 3,
            'first_name'    : $('#first_name').val(),
            'middle_name'   : $('#middle_name').val(),
            'last_name'     : $('#last_name').val(),
            'email'         : $('#email').val(),
            'phone_1'       : $('#phone_1').val(),
            'phone_2'       : $('#phone_2').val(),
            'gender'        : $('#gender').val(),
            'password'      : $('#password').val(),
            'birth_date'    : $('#birth_date').val(),
            'address'       : $('#address').val()
        }

        Controller.POST('/api/customer/upsert', data).done(function(result) {
            
            console.log(data, result)

            if (result.success == true) {
                location.reload()
            }
            else {

                if(result.errors.first_name) $('#first_name_error').html(result.errors.first_name)
                if(result.errors.last_name) $('#last_name_error').html(result.errors.last_name)
                if(result.errors.phone_1) $('#phone_1_error').html(result.errors.phone_1)
                if(result.errors.phone_2) $('#phone_2_error').html(result.errors.phone_2)
                if(result.errors.email) $('#email_error').html(result.errors.email)
                if(result.errors.password) $('#password_error').html(result.errors.password)
                if(result.errors.address) $('#address_error').html(result.errors.address)

            }
        })

    }

    var Edit = function(e) {

        $('#first_name_error').html('')
        $('#last_name_error').html('')
        $('#phone_1_error').html('')
        $('#phone_2_error').html('')
        $('#email_error').html('')
        $('#password_error').html('')
        $('#address_error').html('')

        id = e.parentNode.parentNode.dataset.id
        
        Controller.GET('/api/customer/get/' + id, {}).done(function(result) {

            result = result.data

            $('#id').val(result.id)
            $('#account_id').val(result.account.id)
            $('#first_name').val(result.account.first_name)
            $('#middle_name').val(result.account.middle_name)
            $('#last_name').val(result.account.last_name)
            $('#email').val(result.account.email)
            $('#phone_1').val(result.account.phone_1)
            $('#phone_2').val(result.account.phone_2)
            $("#gender").selectpicker('val', result.account.gender)
            $('#birth_date').val(result.account.birth_date)
            $('#address').val(result.account.address)

            $(modal).modal({
                "backdrop"  : "static",
                "keyboard"  : true,
                "show"      : true
            })

        })

    }

    var Delete = function(e) {
        
        id = e.parentNode.parentNode.dataset.id
        
        bootbox.confirm({
            message: "All data related to this account will be lost. Continue?",
            buttons: {
                confirm: {
                    label: 'Delete',
                    className: 'btn-sm btn-danger'
                },
                cancel: {
                    label: 'Cancel',
                    className: 'btn-sm btn-info'
                }
            },
            callback: function (result) {
                if (result) {
                    
                    Controller.POST('/api/customer/delete', {'id': id}).done(function(result) {
                        if(result.success) e.parentNode.parentNode.remove()
                    })

                }
            }
        })
    }

</script>
{% endblock %}

