<nav class="sidenav navbar navbar-vertical fixed-left navbar-expand-xs navbar-light bg-white" id="sidenav-main">
    <div class="scrollbar-inner">
        <!-- Brand -->
        <div class="sidenav-header  align-items-center">
            <a class="navbar-brand" href="/">
                <h3>{{current_user.full_name}}</h3>
            </a>
        </div>
        <div class="navbar-inner">
            <!-- Collapse -->
            <div class="collapse navbar-collapse" id="sidenav-collapse-main">
                <!-- Nav items -->
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a id="menu-appointments" class="nav-link" href="/staff/appointments">
                            <i class="ni ni-calendar-grid-58 text-primary"></i>
                            <span class="nav-link-text">Appointments</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a id="menu-staffs" class="nav-link" href="/staff/staffs">
                            <i class="ni ni-folder-17 text-primary"></i>
                            <span class="nav-link-text">Staffs</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a id="menu-feedbacks" class="nav-link" href="/staff/feedbacks">
                            <i class="ni ni-chat-round text-primary"></i>
                            <span class="nav-link-text">Feedbacks</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a id="menu-accounts" class="nav-link" href="/staff/account/{{current_user.id}}">
                            <i class="ni ni-circle-08 text-primary"></i>
                            <span class="nav-link-text">Account</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a id="menu-notifications" class="nav-link" href="/staff/notifications">
                            <i class="ni ni-bell-55 text-primary"></i>
                            <span class="nav-link-text">Notifications</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a id="menu-settings" class="nav-link" href="/staff/settings">
                            <i class="ni ni-settings-gear-65 text-primary"></i>
                            <span class="nav-link-text">Settings</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>